td{
			text-align: center;
			border: 1px solid #3c3333;
			 vertical-align: middle;
             text-align: center;  
}


.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #484141;
    vertical-align: middle;
    text-align: center; 
}