img{
	width:180px;
}
#bb{
	position: relative;
	margin-left: 500px;
}
#aa{
	width:180px;
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX(30deg);
	animation: y  20s infinite linear;
}
@keyframes y{
0% {
    transform: rotateY(0deg);
}

100% {
    transform:rotateY(360deg);

}
}
figure{
	position: absolute;
}
figure:nth-child(1){
	transform: rotateY(0) translateZ(288px) ;
}
figure:nth-child(2){
	transform: rotateY(40deg) translateZ(288px) ;
}
figure:nth-child(3){
	transform: rotateY(80deg) translateZ(288px) ;
}
figure:nth-child(4){
	transform: rotateY(120deg) translateZ(288px) ;
}
figure:nth-child(5){
	transform: rotateY(160deg) translateZ(288px) ;
}
figure:nth-child(6){
	transform: rotateY(200deg) translateZ(288px) ;
}
figure:nth-child(7){
	transform: rotateY(240deg) translateZ(288px) ;
}
figure:nth-child(8){
	transform: rotateY(280deg) translateZ(288px) ;
}
figure:nth-child(9){
	transform: rotateY(320deg) translateZ(288px) ;
}
#aa:hover {
    animation-play-state: paused;
}